@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
  margin: auto 15%;
  font-family: "Poppins";
   font-size: 20px;
}
a{
text-decoration: none;
color: #a52a3a;
}
h1{
  text-align: center;
}
a:hover{
color: #a54b2a;
}
.nav{
  background: url("https://image.shutterstock.com/image-photo/background-floor-pattern-perspective-chess-260nw-481189447.jpg")50% 65% no-repeat;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
font-size: 1.5em;
padding: 10px;
}
.openings-nav{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
font-size: 1.5em;
padding: 10px;
}
 .openings-nav a {
  color: navy;
}
 .openings-nav a:hover {
  color: rgb(97, 97, 160);
}
.subject {
  margin: 10%;
  text-align: justify;
}

img{
  margin: 3% 10% 0 10%;
  max-width: 50%;
}
.score_box {
  display: block;
  word-wrap: normal;
  float: none;
  padding-top: .5em;
  width: 100%;
  overflow-wrap: normal;
  color: black;
  line-height: 1.5em;
  font-size: 1.35em;
}